p.caption {
  font-size: .9em;
   margin-top: 8px !important;
   margin-bottom: 8px !important;
}

.book h5 {
  font-size: 1.25em !important;
}

.book .book-body .page-wrapper .page-inner section.normal pre {
  overflow: auto;
  word-wrap: normal;
   margin: 0 0 0 0;
  padding: .85em 1em;
}
.leaflet-container {
  background: #ddd;
  outline: 0;
  width: 100% !important;
  margin-top: 10px;
}

/* Code chunk output*/
.codeout {
  /*background-color: #e7edf4 !important;*/ 
  background-color: white !important;
  /*border: 1px solid #b3b3b3 !important;*/
  /*border: 1px solid #A64907 !important;*/
  /*border: 1px solid #0E5967 !important;*/ 
  border: 1px solid #147b8f !important;
}

/* COMMUN */
.alignCentre {
  text-align: center;
}
.pleineLargeur {
  width: 100%;
}
.troisQuartLargeur {
  width: 75%;
}
.demiLargeur {
  width: 50%;
}
.separateurLargeur  {
  width: 90px;
  height: 5px;
  background: #486864;
  margin-top: 60px;
  margin-bottom: 22px;
}
.noteBasPage .note {
  font-size: 15px;
  line-height: 20px;
}
figure {
  margin: 45px 0px;
}
blockquote {
  color: black !important;
  font-weight: 600 !important;
  border-left: 4px solid #486864 !important;
  font-size: 15px;
}
.book .book-body.fixed .body-inner {
  top: inherit;
}

/* HEADER  */
#header .title {
  font-size: 28px !important;
  font-weight: bold;
  line-height: 38px;
  margin-bottom: 50px !important;
}
#header .author, #header .date {
  display: none;
}
#header .title .sigle {
  font-size: 20px;
  font-weight: 400;
  line-height: 46px;
}

.section h1, h2, h3, h4, h5, h6 {
  margin-bottom: 15px !important;
}
.header-section-number {
  /* color: #486864; */
  /* display: block; */
  display: inline-block;
  padding-right: 2px;
}
.section h1 {
  color: black;
  font-size: 24px !important;
  font-weight: bold;
  line-height: 28px;
}
.section h2 {
  font-size: 22px !important;
  line-height: 24px;
  letter-spacing: 2px;
  font-weight: bold;
}
.section h3 {
  color: #A64907;
  font-size: 22px !important;
  line-height: 24px;
  font-weight: 400;
  margin-top: 50px !important;
}
.section h4 {
  font-size: 20px !important;
  line-height: 24px;
}
.section h5 {
  font-size: 18px !important;
  line-height: 24px;
  font-weight: bold;
  color: #0E5967;
}
.section h6 {
  font-size: 16px !important;
  line-height: 24px;
  text-transform: uppercase;
  color: black !important;
  font-weight: bold;
}
.section h7 {
  font-size: 16px !important;
  line-height: 20px;
  color: #A64907;
}
.section p {
  font-size: 15px !important;
  line-height: 20px;
  color: black;
}
  /* Background-header */
.book .book-header .btn, .book .book-header a{
  display: none;
}
.book .book-header {
  position: initial !important;
  height: 465px;
  background-image: url(../Images/Back_Accueil.jpg);
  background-size: cover;
  background-position: bottom;
}
@media only screen and (max-width: 968px) {
  .book .book-header {
    position: initial !important;
    height: 250px !important;
    background-size: cover;
    background-position: bottom;
  }
}
.book .book-header .btn{
  display: none;
}
.book .book-header {
  position: initial !important;
  height: 465px;
  background-image: url(../Images/Back_Accueil.jpg);
  background-size: cover;
  background-position: bottom;
}
.book .book-header.presentation {
  background-image: url(../Images/Back_Presentation.jpg);
}
/*  
.book .book-header.m1 {
  background-image: url(../Images/Back_M1.jpg);
}
.book .book-header.m2 {
  background-image: url(../Images/Back_M2.jpg);
}
.book .book-header.m3 {
  background-image: url(../Images/Back_M3.jpg);
}
.book .book-header.m3 {
  background-image: url(../Images/Back_M4.jpg);
}
.book .book-header.m5 {
  background-image: url(../Images/Back_M5.jpg);
}
.book .book-header.m6 {
  background-image: url(../Images/Back_M6.jpg);
}
.book .book-header.m7 {
  background-image: url(../Images/Back_M7.jpg);
}
.book .book-header.m8 {
  background-image: url(../Images/Back_M8.jpg);
}
*/
/* Deux colonnes */
.deuxCols {
  border: 1px solid black;
  padding: 17px 20px 12px 20px;
  margin: 30px 0px 30px 0px;
}
.deuxCols h1, .deuxCols h2, .deuxCols h3, .deuxCols h4, .deuxCols h5, .deuxCols h6 {
  margin-top: 0 !important;
}
.deuxCols .cols{
  display: flex;
  justify-content: space-between;
}
.deuxCols figure{
  margin-top: 0;
  margin: 0;
}
.deuxCols .cols .col__gauche, .deuxCols .cols .col__droite{
  flex: 0 0 49%;
}

/* BOITE */
.boite.emphase {
  padding: 25px;
  padding-bottom: 15px;
  background-color: #C7D1D0;
  margin-bottom: 20px;
}
.boite.ico img[src*=".svg"] {
  width: 60px;
  height: 50px;
  margin-top: 50px;
}
.boite.photo img[src*=".jpg"] {
  width: 200px;
  height:200px;
  margin-top: 200px;
}
.boite.photo.gauche {
  width: auto;
  height: auto;
  background-repeat: no-repeat;
  padding-top:200px;
}
.boite.ico.gauche, .boite.ico.droite {
  width: auto;
  height: auto;
  background-repeat: no-repeat;
  padding-top: 70px;
}
@media only screen and (min-width: 768px) {
  .boite.ico.gauche {
    background-size: 60px;
    padding-left: 85px;
    padding-top: 15px;
  }
  .boite.ico.droite {
    background-size: 60px;
    padding-right: 85px;
    padding-top: 15px;
    background-position: top right;
    text-align: right;
  }
  .boite.ico.droite ul {
   display: inline-block;
  }
  .boite.photo.gauche {
    background-size: 160px;
    padding-left: 200px;
    padding-top: 10px;
    background-position: top left;
    text-align: left;
    display: inline-block;
    float: left;
  }
}
.boite.ico.gauche h1, .boite.ico.gauche h2, .boite.ico.gauche h3, .boite.ico.gauche h4, .boite.ico.gauche h5, .boite.ico.gauche h6,  .boite.ico.gauche h7, .boite.ico.droite h1, .boite.ico.droite h2, .boite.ico.droite h3, .boite.ico.droite h4, .boite.ico.droite h5, .boite.ico.droite h6, .boite.ico.droite h7, .boite.photo.gauche h5 {
  margin-top: 0px !important;
}
.boite.ico.librairie {
  background-image: url('../Images/Icones_Bibliotheques.svg');
}
.boite.ico.fonctions {
  background-image: url('../Images/Icones_Fonctions.svg');
}
.boite.ico.donnees {
  background-image: url('../Images/Icones_Donnees.svg');
}
.boite.ico.important {
  background-image: url('../Images/Icone_Remarque-Importante.svg');
}
.boite.photo.elise {
  background-image: url('../Images/Photo_moi.jpg');
}



/* TABLEAU */
.tableau {
  margin: 40px 0px;
}
.tableau table {
  display: block !important;
  overflow-x: scroll !important;
}
.tableau table th, table td {
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 2px;
  font-family: arial;
  color: black;
/*  border: 1px solid #000000 !important;*/
}
.tableau table th {
  font-weight: 700;
  background-color: #C7D1D0 !important;
  padding: 20px 13px !important;
  text-align: left;
}
.tableau table tr:nth-child(2n){
  background-color: inherit !important;
}

/* Exception */
#bienvenue h1 {
  color: #486864;
}
